.photo-grid {
    padding: 0 48px;
    display: grid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 16px;
    column-gap: 16px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 14px;
        column-gap: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        padding: 0 24px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 16px;
        column-gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        padding: 0 16px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 12px;
        column-gap: 12px;
    }
}

@media screen and (max-width: 423px) {
    .photo-grid {
        padding: 0 16px;
        grid-template-columns: 1fr;
        row-gap: 12px;
        column-gap: 12px;
    }
}