.header__logo {
    height: 52px;
    width: 176px;
}

.header__logo:hover {
    opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__logo {
        height: 42px;
        width: 142px;
    }
}

@media screen and (max-width: 319px) {
    .header__logo {
        height: 42px;
        width: 80px;
    }
}