.cover {
    position: relative;
    padding: 0 48px;
}

.cover .cover__overlay {
    opacity: 0.3;
}

.cover:hover .cover__overlay {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover {
        padding: 0;
    }
}